<div class="container">

<form #myForm="ngForm">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
        <input type="input" class="form-control" name="name" ngModel>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Mobile No</label>
        <input type="input" class="form-control" name="mobile" ngModel>
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" ngModel>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" ngModel>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary"  (click)="addUser(myForm.value)">Submit</button>
      </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

        <tbody>
<tr *ngFor="let user of allUser">
    <td>{{user.name}}</td>
    <td>{{user.mobile}}</td>
    <td>{{user.email}}</td>
    <td>{{user.Password}}</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
</tr>
        </tbody>
    </table>
</div>